<h2>Reactivos: <small>Básicos</small></h2>
<hr>

<div class="row">
  <div class="col">
    <form (ngSubmit)="save()" autocomplete="off" [formGroup]="basicForm">
      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" for="product">Producto*</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 formControlName="name"
                 name="product"
                 placeholder="Nombre del producto">
          <div class="form-text text-danger">
            <span *ngIf="formValid('name')">Mínimo 3 letras</span>
          </div>
        </div>
      </div>
      <!-- campo del precio -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" for="price">Precio*</label>
        <div class="col-sm-9">
          <input type="number"
                 class="form-control"
                 formControlName="price"
                 placeholder="Precio del producto">
           <div class="form-text text-danger">
            <span *ngIf="formValid('price')">El precio debe ser de al menos 1€</span>
          </div>
        </div>
      </div>
      <!-- campo de las existencias -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" for="stock">Existencias*</label>
        <div class="col-sm-9">
          <input type="number"
                 class="form-control"
                 formControlName="stock"
                 placeholder="Existencias del producto">
           <div class="form-text text-danger">
            <span *ngIf="formValid('stock')">Sin stock</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">Añadir</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{basicForm.valid}}</pre>
    
    <span>Pristine</span>
    <pre>{{basicForm.pristine}}</pre>

    <span>Touched</span>
    <pre>{{basicForm.touched}}</pre>
    
    <span>Value</span>
    <pre>{{basicForm.value | json}}</pre>

  </div>
</div>